<template>
  <div id="content">
    <TodoItem v-for="todo in todos" :key="todo.id" v-bind="todo" />
  </div>
</template>

<script>
import TodoItem from './TodoItem'

export default {
  name: "TheContent",
  components: {
    TodoItem
  },
  props: {
    todos: Array
  }
}
</script>

<style scoped>
#content {
  background-color: grey;
  grid-area: main;
}
</style>