<template>
  <header id="header">
    <div class="app-name side">{{ appName }}</div>

    <div class="search-todos">
      <form @submit.prevent="search">
        <input type="search" class="search-bar" v-model="query">
        <input type="submit" class="search-button" value="Search">
      </form>
    </div>

    <div class="greeting side">Hello {{ userName }} !</div>
  </header>
</template>

<script>
export default {
  name: "TheHeader",
  props: {
    appName: String,
    userName: String
  },
  data () {
    return {
      query: ""
    }
  },
  methods: {
    search () {
      alert(this.query)
    }
  }
}
</script>

<style scoped>
#header {
  background-color: lightgrey;
  padding: 20px;
  font-size: 1.5rem;

  /* Grid */
  grid-area: header;

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side {
  width: 150px;
}
</style>