<template>
  <div id="sidebar">
    <div v-for="list in lists" :key="list.id" class="list-item"
      @click="selectList(list.id)">
      {{ list.name }}
    </div>
  </div>
</template>

<script>
export default {
  name: "TheSidebar",
  props: {
    lists: Array
  },
  methods: {
    selectList( listId ) {
      this.$emit("select-list", listId)
    }
  }
}
</script>

<style scoped>
#sidebar {
  background-color: pink;
  grid-area: sidebar;
}

.list-item {
  padding: 10px;
}
</style>