<template>
  <div class="todo-item">
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props: {
    id: Number,
    title: String,
    description: String
  }
}
</script>

<style>

</style>