<template>
  <div id="app">
    <TheHeader appName="Todo List" userName="Loïc" />
    <TheSidebar :lists="lists" @select-list="selectList" />
    <TheContent :todos="todos" />
  </div>
</template>

<script>
// Components
import TheHeader from './components/TheHeader'
import TheSidebar from './components/TheSidebar'
import TheContent from './components/TheContent'

// Data
import todos from './data/todos'
import lists from './data/lists'

export default {
  name: 'App',
  components: {
    TheHeader,
    TheSidebar,
    TheContent
  },
  data() {
    return {
      lists,
      activeList: 1
    }
  },
  methods: {
    selectList( listId ) {
      this.activeList = listId
    }
  },
  computed: {
    todos() {
      const activeList = this.activeList
      return todos.filter(
        todo => todo.listId === activeList
      )
    }
  }
}
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  /* Take full viewport */
  width: 100vw;
  height: 100vh;

  /* CSS grid */
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "header  header"
    "sidebar main";
}
</style>
